<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.shevtsov.leonid.LogAccomplishment</string>
	<key>connections</key>
	<dict>
		<key>3A7FA0D4-EA38-4E36-89DC-F0385FF957DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E0507A1-FDC6-40A0-B90E-F8C82E9DAF44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3CC2AF33-33B3-4868-9024-A716F2F79DC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26D18CE0-E210-410F-AEFB-FB7726E4CBB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>51B164A1-2699-4DA3-A3F2-7BBE9E240412</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8E6297B-A8EF-4D6B-BE07-1402754BE1B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>67C5EFE8-0332-4F6B-A3FB-E45D12338ED2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3CC2AF33-33B3-4868-9024-A716F2F79DC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A8E6297B-A8EF-4D6B-BE07-1402754BE1B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2672EB38-D60F-498E-84D5-F818E13C9911</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1FC60D8-ADBF-453F-89CB-C0528CA48153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Leonid Shevtsov</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Log accomplishment</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>log</string>
				<key>text</key>
				<string>Log accomplishment</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>51B164A1-2699-4DA3-A3F2-7BBE9E240412</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ -r logfile.conf ]
then
	./log.rb --file=`cat logfile.conf` --message="{query}"
else
	echo "But please set accomplishments file first (use command log-to-file [path-to-file])."
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A8E6297B-A8EF-4D6B-BE07-1402754BE1B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Well done!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2672EB38-D60F-498E-84D5-F818E13C9911</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>afplay accomplished.m4a
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>A1FC60D8-ADBF-453F-89CB-C0528CA48153</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>log-view</string>
				<key>text</key>
				<string>View accomplishments file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A7FA0D4-EA38-4E36-89DC-F0385FF957DB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open `cat logfile.conf`</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E0507A1-FDC6-40A0-B90E-F8C82E9DAF44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" &gt;logfile.conf &amp;&amp; echo "Will now log to {query}"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3CC2AF33-33B3-4868-9024-A716F2F79DC6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>26D18CE0-E210-410F-AEFB-FB7726E4CBB6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>log-to-file</string>
				<key>subtext</key>
				<string>Use absolute path</string>
				<key>text</key>
				<string>Set accomplishments log file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>67C5EFE8-0332-4F6B-A3FB-E45D12338ED2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2672EB38-D60F-498E-84D5-F818E13C9911</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>26D18CE0-E210-410F-AEFB-FB7726E4CBB6</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>3A7FA0D4-EA38-4E36-89DC-F0385FF957DB</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3CC2AF33-33B3-4868-9024-A716F2F79DC6</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>51B164A1-2699-4DA3-A3F2-7BBE9E240412</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5E0507A1-FDC6-40A0-B90E-F8C82E9DAF44</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>67C5EFE8-0332-4F6B-A3FB-E45D12338ED2</key>
		<dict>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>A1FC60D8-ADBF-453F-89CB-C0528CA48153</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A8E6297B-A8EF-4D6B-BE07-1402754BE1B0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://leonid.shevtsov.me</string>
</dict>
</plist>
